@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #3a3a3a
}

header {
    height: 150px;

}

/* headings and logo */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #758173;
}

#logo {
    display: flex;
    align-items: flex-start;
    height: 150px;
    width: 150px;
    padding-left: 50px;
}

/* navigation links */


#menu li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 30px;
    align-self: center;
    font-size: 150%;
    margin-right: 30px;
}

#menu {
    letter-spacing: 4px;
    display: flex;
    
    
}

div {
    text-transform: uppercase;
    color: white;
    font-size: 500%;
    display: flex;
    align-self: baseline;
}

.feature_button {
    height: 150px;
    width: 300px;
    background-image: url('../images/travel.jpg');
    background-color: rgb(49, 63, 63);
    border: #3a3a3a solid 2px;
    background-size: cover;
    
}