@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    background-color: rgb(219, 223, 220);
    color: rgb(41, 41, 41);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
}


/* headings and logo */

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #3a4139;

}

.header-container a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#logo {
    height: 80px;
    width: 80px;
}

/* navigation links */

.menu {
    letter-spacing: 4px;
    display: flex; 
    flex-direction: row;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    list-style-type: none;
    margin-right: 30px;
    color: white;
    text-decoration: none;
}

.menu a {
    color: white;
    text-decoration: none;  
    font-size: 100%;
}

.menu a:hover {
    border-bottom: 1px solid white;
    
}



.active{
    border-bottom: 1px solid white;
}

#quote {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    text-align: center;
}

.welcome p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    color: antiquewhite; 
    margin: 20px 75px 20px 75px;
    gap: 50px;
}

.features div {
    text-transform: uppercase;
    color: antiquewhite;
    font-size: 48px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5), 0 0 20px 0 #252525cc;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 10px;

}

.features div:hover {
    text-transform: uppercase;
    display: flex;
    align-self: baseline;
    font-size: 48px;
    box-shadow: none;
    text-decoration: none;
}

.feature_button {
    height: 200px;
    width: 400px;
    background-color: rgb(49, 63, 63);
    border: #3a3a3a solid 2px;
    background-size: cover;
    
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}


.fb1 {
    background-image: url('../images/travel.jpg');

}

.fb2 {
    background-image: url('../images/household.jpg');
}

.fb3 {
    background-image: url('../images/baby.jpg');
}

.fb4 {
    background-image: url('../images/recycle.jpg');
}

.fb5 {
    background-image: url('../images/fashion.jpg');
}

.fb6 {
    background-image: url('../images/xmas.jpg');
}

/* footer */

footer {
    background-color: #3a4139;
    margin-top: auto;
    bottom: 0;  
    width: 100%;
    height: 5rem; 
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
}

.social-networks {
    width:30%; 
    text-align: center;
    
}

.social-networks li {
    display: inline;
    text-align: center;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.sitemap {
    width:30%; 
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.sitemap li {
    list-style-type: none;
}

.address {
    width:30%; 
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

.address li {
    list-style-type: none;
}

/* form */

.sign-up {
    background-image: url('../images/paper-plane.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

label {
    display: block;
    margin: 0.5rem 0;
  }

.form-box {
    margin: 150px 10% 100px 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.text-input {
    background: #3a4139;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #3a4139;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color:#3a4139;
    color: #fafafa;
    display: inline-block;
    border: 1px solid #fafafa;
}

.join-button:hover {
    background-color: #fafafa;
    color: #3a4139;
}

/* Media queries */
@media screen and (max-width: 950px){


    .header-container {
        display: block;        
        background-color: #3a4139;
        width: 100vw;
        font-size: 0.8em;
    }

    #quote {
        font-size: 0.8em;
    }

   
    #logo {
        height: 70px;
        width: 70px;
        
}

.menu {
    display: flex;
    justify-content: flex-end;
    background-color: #3a4139;
    width: 100%;
}

    .feature_button {
        height: 200px;
        width: 80vw;
        font-size: smaller;
        background-color: rgb(49, 63, 63);
        border: #3a3a3a solid 2px;
        background-size: cover;
    
}

.features div {
    text-transform: uppercase;
    color: antiquewhite;
    font-size: 36px;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5), 0 0 20px 0 #252525cc;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 10px;

}
}