@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    color: #3a3a3a
}

header {
    height: 200px;
}

/* headings and logo */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #758173;
}

#logo {
    display: flex;
    align-items: flex-start;
}

/* navigation links */

#menu {
    font: 110%;
    font-size: large;
    letter-spacing: 4px;
    display: flex;
    
    
}

#menu li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-left: 10px;
    align-self: center;
}